<app-nav title="Marketing Trends"></app-nav>
<div class="container pt-4" *ngIf="!appService.isLoading">
  <div class="row">
    <div class="col-12">
      <div class="header-det">
        <span class="det-inner"><strong>Loan ID :</strong> 01201550001</span>
        <span class="sep"></span>
        <span class="det-inner"><strong>Loan Amt :</strong> 50000 USD</span>
        <span class="sep"></span>
        <span class="det-inner"><strong>Loan Term :</strong> 10 yrs</span>
        <span class="sep"></span>
        <span class="det-inner"><strong>Maturity Date :</strong> Dec 18, 2031</span>
        <span class="sep"></span>
        <span class="det-inner"><strong>Outstanding Loan Amt :</strong> 45000 USD</span>
      </div>
    </div>
    <div class="col-12">
      <h4 class="header-default mt-3">Overview of Woolen Fabric Market in United States</h4>
    </div>
    <div class="col-6">
      <div class="card market-graph-1">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <h5>Wholesale Price Change</h5>
              <h2 class="green-txt">+1.5%</h2>
              <small>Compared to the week before</small>
            </div>
            <div class="col-6 text-right">
              <small>Dec, 7 2020 ~ Dec, 14 2020</small>
              <div>
                <span class="green-txt txt">+4.4%</span> <small>m</small>
              </div>
              <div>
                <span class="green-txt txt">+4.4%</span> <small>q</small>
              </div>
              <div>
                <span class="red-txt txt">+4.4%</span> <small>y</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card market-graph-1">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <h5>Total Production Volume</h5>
              <h2>6.89M</h2>
              <small>Metric Ton</small>
            </div>
            <div class="col-6 text-right">
              <small>in 2018</small>
              <div>
                <span class="green-txt txt">+2.9%</span> <small>1Y</small>
              </div>
              <div>
                <span class="red-txt txt">-1.1%</span> <small>3Y</small>
              </div>
              <div>
                <span class="red-txt txt">-12.0%</span> <small>5Y</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 mt-4">
      <div class="card market-graph-1">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <h5>Total Export Volume</h5>
              <h2>37.555K</h2>
              <small>Metric Ton</small>
            </div>
            <div class="col-6 text-right">
              <small>in 2019</small>
              <div>
                <span class="red-txt txt">-10.3%</span> <small>1Y</small>
              </div>
              <div>
                <span class="red-txt txt">-2.4%</span> <small>3Y</small>
              </div>
              <div>
                <span class="red-txt txt">-15.3%</span> <small>5Y</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 mt-4">
      <div class="card market-graph-1">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <h5>Total Import Volume</h5>
              <h2>800.07K</h2>
              <small>Metric Ton</small>
            </div>
            <div class="col-6 text-right">
              <small>in 2019</small>
              <div>
                <span class="green-txt txt">+36.7%</span> <small>1Y</small>
              </div>
              <div>
                <span class="green-txt txt">+45.2%</span> <small>3Y</small>
              </div>
              <div>
                <span class="green-txt txt">+60.8%</span> <small>5Y</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 mt-4">
      <h4 class="header-default mt-3">Wool Offers in United States</h4>
    </div>

    <div class="col-3">
      <div class="card shd text-center no-hover marketing">
        <img src="assets/Wool-yarn.jpg" class="card-img-top" alt="...">
        <div class="card-body">          
          <p class="m-0">100% wool yarn wholesale, merino wool spinning</p>
          <small class="price-txt">USD <strong>6.0-16.0 / KG</strong></small>
          <p class="card-txt-1">1 Kilogram<span> (MOQ)</span></p>
          <div>
            <button type="button" class="btn btn-primary mt-3" (click)="selectedIndex = 0; openVendorPopup = true; totalCost=0; quantity=0;">Sign the Deal</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card shd text-center no-hover marketing">
        <img src="assets/Factory-price-wholesale-wool.jpg" class="card-img-top" alt="...">
        <div class="card-body">         
          <p class="m-0">Factory price wholesale wool and acrylic blended yarn</p>
          <small class="price-txt">USD <strong>8.02-8.38 / KG</strong></small>
          <p class="card-txt-1">50 Kilogram<span> (MOQ)</span></p>
          <div>
            <button type="button" class="btn btn-primary mt-3" (click)="selectedIndex = 1; openVendorPopup = true; totalCost=0; quantity=0;">Sign the Deal</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card shd text-center no-hover marketing">
        <img src="assets/wool-knitting.jpg" class="card-img-top" alt="...">
        <div class="card-body">         
          <p class="m-0">Wholesale wool knitting double twisted yarn for sweater knitting</p>
          <small class="price-txt">USD <strong>14.5-15.5 / KG</strong></small>
          <p class="card-txt-1">1000 Kilogram<span> (MOQ)</span></p>
          <div>
            <button type="button" class="btn btn-primary mt-3" (click)="selectedIndex = 2; openVendorPopup = true; totalCost=0; quantity=0;">Sign the Deal</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card shd text-center no-hover marketing">
        <img src="assets/Wool-yarn1.jpg" class="card-img-top" alt="...">
        <div class="card-body">         
          <p class="m-0">Wholesale 2/26nm 100% pure wool worsted cashmere yarn</p>
          <small class="price-txt">USD <strong>7.68-8.24 / KG</strong></small>
          <p class="card-txt-1">1 Kilogram<span> (MOQ)</span></p>
          <div>
            <button type="button" class="btn btn-primary mt-3" (click)="selectedIndex = 3; openVendorPopup = true; totalCost=0; quantity=0;">Sign the Deal</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 mt-4">
      <h4 class="header-default mt-3">Fine Wool Monthly Price - US cents per Kilogram</h4>
      <div class="graph-1" *ngIf="!appService.isLoading"><img src="assets/wool_trend.JPG" width="100%"></div>
    </div>
  </div>
</div>

<div class="loan-popup backdrop" *ngIf="openVendorPopup">
  <div class="popup-div vendor-popup" *ngIf="selectedIndex == 0">
      <h3 class="text-center">Red Table Grape</h3>
      <p class="text-center">EXW, Nogales, AZ and Los Angeles, CA</p>
      <p class="text-center">
        <small class="price-txt">USD <strong>1.25 / KG</strong></small>
      </p>
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label for="exampleFormControlInput3" class="form-label"><strong>Contact Number</strong></label>
            <input type="number" class="form-control" id="exampleFormControlInput3" placeholder="Contact Number">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput3" class="form-label"><strong>Quantity</strong></label>
            <input type="number" class="form-control" id="exampleFormControlInput3" placeholder="Item Quantity" [(ngModel)]="quantity" (ngModelChange)="qtyInputChanged(1.25);">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput3" class="form-label mr-3"><strong>Total Cost : </strong></label>
            <span>USD {{totalCost}}</span>
          </div>
        </div>
        <div class="col-12 text-right mt-3">
          <hr/>
          <button type="button" class="btn btn-secondary" (click)="openVendorPopup = false;">Cancel</button>
          <button type="button" class="btn btn-primary ml-3" (click)="confirmDeal();" >Confirm</button>
        </div>
      </div>
  </div>

  <div class="popup-div vendor-popup" *ngIf="selectedIndex == 1">
    <h3 class="text-center">Table Grapes from Italy</h3>
    <p class="text-center">EXW, Gioia, Tauro</p>
    <p class="text-center">
      <small class="price-txt">EUR <strong>1.8 / KG</strong></small>
    </p>
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <label for="exampleFormControlInput3" class="form-label"><strong>Contact Number</strong></label>
          <input type="number" class="form-control" id="exampleFormControlInput3" placeholder="Contact Number">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput3" class="form-label"><strong>Quantity</strong></label>
          <input type="number" class="form-control" id="exampleFormControlInput3" placeholder="Item Quantity" [(ngModel)]="quantity" (ngModelChange)="qtyInputChanged(1.8);">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput3" class="form-label mr-3"><strong>Total Cost : </strong></label>
          <span>EUR {{totalCost}}</span>
        </div>
      </div>
      <div class="col-12 text-right mt-3">
        <hr/>
        <button type="button" class="btn btn-secondary" (click)="openVendorPopup = false;">Cancel</button>
        <button type="button" class="btn btn-primary ml-3" (click)="confirmDeal();" >Confirm</button>
      </div>
    </div>
</div>

<div class="popup-div vendor-popup" *ngIf="selectedIndex == 2"> 
  <h3 class="text-center">Fresh Seedless Grapes of Indian Origin</h3>
  <p class="text-center">FOB, JNPT Port, Mumbai</p>
  <p class="text-center">
    <small class="price-txt">USD <strong>1.15 / KG</strong></small>
  </p>
  <div class="row">
    <div class="col-12">
      <div class="mb-3">
        <label for="exampleFormControlInput3" class="form-label"><strong>Contact Number</strong></label>
        <input type="number" class="form-control" id="exampleFormControlInput3" placeholder="Contact Number">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput3" class="form-label"><strong>Quantity</strong></label>
        <input type="number" class="form-control" id="exampleFormControlInput3" placeholder="Item Quantity" [(ngModel)]="quantity" (ngModelChange)="qtyInputChanged(1.15);">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput3" class="form-label mr-3"><strong>Total Cost : </strong></label>
        <span>USD {{totalCost}}</span>
      </div>
    </div>
    <div class="col-12 text-right mt-3">
      <hr/>
      <button type="button" class="btn btn-secondary" (click)="openVendorPopup = false;">Cancel</button>
      <button type="button" class="btn btn-primary ml-3" (click)="confirmDeal();" >Confirm</button>
    </div>
  </div>
</div>

<div class="popup-div vendor-popup" *ngIf="selectedIndex == 3">
  <h3 class="text-center">Sultani Grapes from Turkey</h3>
  <p class="text-center">EXW, Mersin Port</p>
  <p class="text-center">
    <small class="price-txt">USD <strong>1.00 / KG</strong></small>
  </p>
  <div class="row">
    <div class="col-12">
      <div class="mb-3">
        <label for="exampleFormControlInput3" class="form-label"><strong>Contact Number</strong></label>
        <input type="number" class="form-control" id="exampleFormControlInput3" placeholder="Contact Number">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput3" class="form-label"><strong>Quantity</strong></label>
        <input type="number" class="form-control" id="exampleFormControlInput3" placeholder="Item Quantity" [(ngModel)]="quantity" (ngModelChange)="qtyInputChanged(1);">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput3" class="form-label mr-3"><strong>Total Cost : </strong></label>
        <span>USD {{totalCost}}</span>
      </div>
    </div>
    <div class="col-12 text-right mt-3">
      <hr/>
      <button type="button" class="btn btn-secondary" (click)="openVendorPopup = false;">Cancel</button>
      <button type="button" class="btn btn-primary ml-3" (click)="confirmDeal();" >Confirm</button>
    </div>
  </div>
</div>
</div>

<app-loader></app-loader>
