.market-graph-1 {
    box-shadow: 0 5px 5px #a09d9d;
    
    h2, h5 {
        font-weight: bold;
    }

    small {
        color: #999;
        font-weight: 600;
    }

    .txt {
        font-size: 12px;
        font-weight: bold;
        margin-right: 10px;
    }

    .green-txt {
        color: #06c606;
    }

    .red-txt {
        color: red;
    }
}

.header-det {
    background: #fff;
    padding: 4px 10px;
    color: #8642ba;
    margin-bottom: 15px;
    border-radius: 7px;
    box-shadow: 0 0 5px #484848;
    font-size: 14px;

    .det-inner {
        margin-left: 10px;
    }

    .sep {
        margin: 0 20px;
        display: inline-block;
        width: 1px;
        height: 20px;
        border-left: 1px dashed #248fbd;
        vertical-align: text-bottom;
    }
}