.card {
    box-shadow: 0 5px 5px #a09d9d;
    border: 1px solid #fff;
}

small {
    color: #ffffff !important;
    font-size: 14px;
}

.card-header {
    text-transform: uppercase;
}

.business-case-label {
    font-size: 18px;
}