<app-nav title="About"></app-nav>
<div class="container">
  <div class="row mt-5 how-it-works shd">
    <div class="col-12">
        <h3 class="header-default mb-5">How It Works</h3>
    </div>
    <div class="col-6">
        <p class="steps">TAKE A LOOK AT OUR PLATFORM DEMO.</p>
        <div>
            <ul>
                <li>
                    Sign-up to the platform
                </li>
                <li>
                    Take the Survey and Submit your business plan
                </li>
                <li>
                    Select the Vendors and the Loan as per your business plan
                </li>
                <li>
                    On Loan Approval, get regular system check on the business
                </li>
                <li>
                    Complete each business cycle without fail making your business  profitable
                </li>
            </ul>
        </div>
    </div>
    <div class="col-6 ">
        <img width="540px" src="assets/oursolution.png">
    </div>
    <div class="application-video">
        <video id="video" width="400px" playsinline="true" [muted]="true" autoplay playsinline loop type="video/mp4"
            src="assets/demo.mp4"></video>
    </div>
    <div class="upper-overlay">
    </div>
    <div class="bottom-overlay">
    </div>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-primary mt-3" (click)="redirectToSurvey();">Get Started</button>
  </div>
</div>