<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/laap_logo2.png" alt="" width="32" class="d-inline-block align-center">
      <span class="title">LAAP</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0 ml-4 text-uppercase">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">{{title}}</a>
        </li>
        <li>
          <span class="header-det">
            <span class="det-inner"><strong>Loan ID :</strong> 123</span>
            <span class="sep"></span>
            <span class="det-inner"><strong>Loan Amt :</strong> 5000 USD</span>
            <span class="sep"></span>
            <span class="det-inner"><strong>Loan Term :</strong> 1 yr</span>
            <span class="sep"></span>
            <span class="det-inner"><strong>Maturity Date :</strong> Dec 18, 2021</span>
            <span class="sep"></span>
            <span class="det-inner"><strong>Interest Amt :</strong> 100 USD</span>
          </span>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0 user-menu">
        <li class="nav-item dropdown">
          <a class="nav-link username dropdown-toggle" [ngClass]="{'open': displayUserMenu}" (click)="displayUserMenu = !displayUserMenu;">
            <i class="fa fa-user"></i> {{ user.name }}
          </a>
          <ul class="dropdown-menu dropdown-menu-right show" *ngIf="displayUserMenu">
            <li><a class="dropdown-item" (click)="signOut();">Sign Out</a></li>
            <!-- <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li> -->
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>