td {
    border: 1px solid #dddddd;
}

th {
    color: #f1f9fc !important;
    background-color: #6789ab !important;
    border-color: #78a1ca !important;
}

.risk-score {
    &:hover {
        cursor: pointer;
        text-decoration: underline;
        color: #072c50;
    }
}