<div class="main-wrapper" [ngClass]="{'outer-page': isOuterPage}">
    <div *ngIf="!isOuterPage" class="side-nav">
        <div class="nav-logo">
            <img width="100" src="assets/leap.png"/>
        </div>
        <div class="side-nav-menu">
            <a routerLink="/dashboard" routerLinkActive="active-link">Home</a>
            <a routerLink="/about" routerLinkActive="active-link">Getting Started</a>
            <a routerLink="/monitoring" routerLinkActive="active-link">Monitor</a>
            <a href="">About Us</a>
            <a href="">Contact</a>
            <a href="">FAQ</a>
        </div>
    </div>
    <div class="page-wrapper">
        <router-outlet></router-outlet>
    </div>
    <div class="footer">LEAP &copy; 2022-23. All Rights Reserved.</div>
</div>