<app-nav title="Monitoring"></app-nav>
<div class="container pt-4" *ngIf="!appService.isLoading">
  <div class="row">
    <div class="col-12">
      <div class="header-det">
        <span class="det-inner"><strong>Loan ID :</strong> 01201550001</span>
        <span class="sep"></span>
        <span class="det-inner"><strong>Loan Amt :</strong> 50000 USD</span>
        <span class="sep"></span>
        <span class="det-inner"><strong>Loan Term :</strong> 10 yrs</span>
        <span class="sep"></span>
        <span class="det-inner"><strong>Maturity Date :</strong> Dec 18, 2031</span>
        <span class="sep"></span>
        <span class="det-inner"><strong>Outstanding Loan Amt :</strong> 45000 USD</span>
      </div>
    </div>
    <div class="col-12">     
      <div class="text-right">
        <button type="button" class="btn btn-primary mt-3 mr-3 seek-help-btn" (click)="showHelpPopup = true;">Seek
          Help</button>
        <button type="button" class="btn btn-primary mt-3" (click)="redirectToMarketing();">Proceed to next stage</button>
      </div>
    </div>
    <div class="col-3">
      <h5 class="header-default">Notifications</h5>
      <div>
        <div class="notify-box mb-4 style-{{notif.style}}" *ngFor="let notif of defaultNotifications">
          <div class="notify-div"><span class="notify-title">{{notif.type}}</span></div>
          <p class="mb-0">{{notif.desc}}</p>
          <div class="text-right">
            <small>{{notif.date | date: 'medium'}}</small>
          </div>
          <img src="assets/new_star2.png" class="new-img" *ngIf="notif.isNew" />
        </div>
      </div>
    </div>
    <div class="col-9">
      <h5 class="header-default">Fabric Production of United States</h5>
      <div class="graph-1"><img src="assets/us_textile.jpg" width="100%"></div>
      <h5 class="header-default mt-4">Import Trends of Fabrics from United States</h5>
      <div class="graph-1 mb-4"><img src="assets/importfabric.png" width="100%"></div>
      <h5 class="header-default mt-4">Wool Market Statistics</h5>
      <div class="graph-1 mb-4"><img src="assets/wool_market.PNG" width="100%"></div>
    </div>   
    <div class="col-12">
      <h5 class="header-default mt-4">Market size by region, Global</h5>
      <img src="assets/world.png" width="100%">
    </div>
  </div>
</div>


<div class="loan-popup backdrop" *ngIf="showHelpPopup" (click)="showHelpPopup = false">
  <div class="popup-div vendor-popup" *ngIf="showHelpPopup" (click)="$event.stopPropagation()">
    <button class="close" mat-button (click)="showHelpPopup = false;">X</button>
    <h3 class="text-center">Don't Worry !!</h3>
    <p class="text-center mb-4">We are here to help you</p>
    <div class="row mt-4">
      <div class="col-12">
        <div class="mb-3">
          <h5 class="card-title">What is cause of your issue? </h5>
          <div class="row">
            <div class="col">
              <select class="custom-select" (change)="showAdvice = true;">
                <option value="" selected>Select the cause</option>
                <option value="proprietorship">Material Availibility</option>
                <option value="partnership">Lack of an Effective Marketing Program</option>
                <option value="pvt">Increasing fabric prices</option>
                <option value="onepersoncompany">Fragmented supply chains</option>
                <option value="limitedcompany">Post-sales losses</option>
                <option value="lowerprices">Lower prices for fabric goods</option>
                <option value="other">Other</option>
              </select>
            </div>
          </div>
          <div class="row mt-4" *ngIf="showAdvice">
            <div class="col">
              <h5>Advices / Reccomendations</h5>
              <div class="mt-4">
                Loan topup
                <button type="submit" class="btn choose-btn btn-sm btn-primary"
                  (click)="showHelpPopup = false; showAdvice=false">Choose</button>
              </div>
              <hr />
              <div class="mt-4">
                Claim Insurance
                <button type="submit" class="btn choose-btn btn-sm btn-primary"
                  (click)="showHelpPopup = false; showAdvice=false">Choose</button>
              </div>
              <hr />
              <div class="mt-4">
                Take expert opinion from Subject Matter Experts.
                <button type="submit" class="btn choose-btn btn-sm btn-primary"
                  (click)="showHelpPopup = false; showAdvice=false">Choose</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loader></app-loader>