<app-nav title="Monitoring"></app-nav>
<div class="container pt-4">
  <div class="row">
    <div class="col-12">
      <div class="text-right">
        <button type="button" class="btn btn-primary mt-3" (click)="redirectToMarketing();">Mark as Harvest</button>
      </div>
    </div>
    <div class="col-3">
      <h5>Notifications</h5>
      <div>
        <div class="notify-box mb-4 style-{{notif.style}}" *ngFor="let notif of defaultNotifications">
          <div class="notify-div"><span class="notify-title">{{notif.type}}</span></div>
          <p class="mb-0">{{notif.desc}}</p>
          <div class="text-right">
            <small>{{notif.date | date: 'medium'}}</small>
          </div>
          <img src="assets/new_star2.png" class="new-img" *ngIf="notif.isNew"/>
        </div>
      </div>
    </div>
    <div class="col-9">
      <h5>Grape Production of United States</h5>
      <div class="graph-1"><img src="assets/grape-production.png" width="100%"></div>
      <h5 class="mt-4">Export Trends of Grapes from United States</h5>
      <div class="graph-1 mb-4"><img src="assets/export_trends.png" width="100%"></div>
    </div>
    <div class="col-12 mb-4 pt-4 mt-3 weather-forecast">
      <h5 class="mb-2">Weather Forecast</h5>
      <p>
        {{weatherData.description}}
      </p>
      <table class="table shd">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Maximum Temprature</th>
            <th scope="col">Minimum Temprature</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of weatherData.forecast">
            <!-- <td scope="row">1</td> -->
            <td>{{data.Date | date: 'fullDate'}}</td>
            <td>{{data.Temperature.Maximum.Value}} {{data.Temperature.Maximum.Unit}}</td>
            <td>{{data.Temperature.Minimum.Value}} {{data.Temperature.Minimum.Unit}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12">
      <img src="assets/corp-season.png" width="100%">
    </div>
  </div>
</div>