.notify-box {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #fff;
    box-shadow: 0 4px 6px #535050;
    position: relative;

    .new-img {
        position: absolute;
        width: 40px;
        top: -12px;
        right: -8px;
    }

    .notify-div {
        margin-left: -11px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .notify-title {
        background-color: #fff;
        padding: 5px 10px;
        border-radius: 3px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
        margin-left: -10px;
        box-shadow: 0 0 3px #000;
    }
    p {
        font-size: 12px;
        color: #fff;
    }
    small {
        color: #fff;
    }

    &.style-1 {
        background: linear-gradient(130deg, #BF86BD, #c24cbe);
    }

    &.style-2 {
        background: linear-gradient(130deg, #9CA3D7, #6773ce);
    }

    &.style-3 {
        background: linear-gradient(130deg, #9281B8, #6c549f);
    }

    &.style-4 {
        background: linear-gradient(130deg, #73C1E5, #399cca);
    }

    &.style-5 {
        background: linear-gradient(130deg, #42bc7e, #1f8d55);
    }
}

.weather-forecast {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px #b6b6b6;
}

th {
    color: #f1f9fc !important;
    background-color: #6789ab !important;
    border-color: #78a1ca !important;
}

td {
    border: 1px solid #dddddd;
}