<app-nav title="Monitoring"></app-nav>
<div class="container pt-4">
  <div class="notify-box mb-4 style-1">
    <div class="notify-div"><span class="notify-title">Planting</span></div>
    <p class="mb-0">Plant dormant, bare-root grape vines in the early spring.</p>
    <div class="text-right">
      <small>Dec, 27 2020 12:00 AM</small>
    </div>
  </div>

  <div class="notify-box mb-4 style-2">
    <div class="notify-div"><span class="notify-title">Care</span></div>
    <p class="mb-0">Do not fertilize in the first year unless you have problem soil. Fertilize lightly in the second year of growth.</p>
    <div class="text-right">
      <small>Dec, 27 2020 12:00 AM</small>
    </div>
  </div>

  <div class="notify-box mb-4 style-3">
    <div class="notify-div"><span class="notify-title">Harvest/Storage</span></div>
    <p class="mb-0">If grapes aren’t ripening, pinch back some of the foliage to let in more sunlight.</p>
    <div class="text-right">
      <small>Dec, 27 2020 12:00 AM</small>
    </div>
  </div>

  <div class="notify-box mb-4 style-4">
    <div class="notify-div"><span class="notify-title">Recommended Varieties</span></div>
    <p class="mb-0">Seedless varieties will produce smaller grapes.</p>
    <div class="text-right">
      <small>Dec, 27 2020 12:00 AM</small>
    </div>
  </div>

  <div class="notify-box mb-4 style-5">
    <div class="notify-div"><span class="notify-title">Recommended Varieties</span></div>
    <p class="mb-0">Seedless varieties will produce smaller grapes.</p>
    <div class="text-right">
      <small>Dec, 27 2020 12:00 AM</small>
    </div>
  </div>
</div>