h1 {
    text-transform: uppercase;
}

h1, h2 {
    color: #049f04;;
}

.fa {
    font-size: 57px;
    color: #049f04;
    margin-top: 300px;
}

.loader {
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 250px;
}