<app-nav title="Dashboard"></app-nav>
<div class="container">
    <div class="text-right">
        <button type="button" class="btn btn-primary mt-3" (click)="redirectToSurvey();">Get Started</button>
    </div>
    <div class="row mt-4 solution-div shd">
        <div class="col-12 text-center header-div">
            <h3 class="header">OUR SOLUTION</h3>
        </div>
        <div class="col-6 ">
            <img src="assets/oursolution.png">
        </div>
        <div class="application-image">
            <img src="assets/application.jpg">
        </div>
        <div class="col-4 mr-4 mt-4">
            <p>
                LaaP is system in which once you are, you are never alone. It works on the principle “Alone we can do so little; together we can do so much.
            </p>
            <p class="mt-6">
                Securing great partnership deals, A good partnership deal can take your business to the next level, and no business is too new or too small to start looking towards the future and considering potential partnerships. 
            </p>
            <p>
                By partnering with LaaP, the customer with business idea is getting a partnership deal with bank and the respective business supported third party vendors. The business is regularly supported with industry latest requirements for the respective business by the system making the business success and benefitting Bank, Third party vendors, Business customer.
            </p>
        </div>
    </div>
    <hr />
    <div class="row mgt-2 how-it-works shd">
        <div class="col-12">
            <h3 class="header">HOW IT WORKS</h3>
        </div>
        <div class="col-6 mt-6">
            <p class="steps">TAKE A LOOK AT OUR PLATFORM DEMO.</p>
            <div>
                <ol>
                    <li>
                        Sign-up to the platform
                    </li>
                    <li>
                        Take the Survey and Submit your business plan
                    </li>
                    <li>
                        Select the Vendors and the Loan as per your business plan
                    </li>
                    <li>
                        On Loan Approval, get regular system check on the business
                    </li>
                    <li>
                        Complete each business cycle without fail making your business  profitable
                    </li>
                </ol>
            </div>
        </div>
        <div class="col-6 ">
            <img src="assets/oursolution.png">
        </div>
        <div class="application-video">
            <video id="video" width="400px" playsinline="true" [muted]="true" autoplay playsinline loop type="video/mp4"
                src="assets/demo.mp4"></video>
        </div>
        <div class="upper-overlay">
        </div>
        <div class="bottom-overlay">
        </div>
    </div>
    <!-- <hr />
    <div class="row mgt-2 shd services">
        <div class="col-12 header-container">
            <h3 class="header">OUR SERVICES</h3>
        </div>
        <div class="col-12" class="services-div">
            <img src="assets/services.png" width="100%">
        </div>
    </div> -->