<app-nav title="Dashboard"></app-nav>
<div class="container">
    <div class="row mt-5 solution-div shd">
        <div class="col-12">
            <h4 class="header-default mb-5">Our Solution</h4>
        </div>
        <div class="col-6">
            <img src="assets/oursolution.png">
        </div>
        <div class="application-image">
            <img src="assets/application.jpg">
        </div>
        <div class="col-4 mr-4 mt-4">
            <p>
                LEAP is system in which once you are, you are never alone. It works on the principle “Alone we can do so little; together we can do so much.
            </p>
            <p class="mt-6">
                Securing great partnership deals, A good partnership deal can take your business to the next level, and no business is too new or too small to start looking towards the future and considering potential partnerships. 
            </p>
            <p>
                By partnering with LEAP, the customer with business idea is getting a partnership deal with bank and the respective business supported third party vendors. The business is regularly supported with industry latest requirements for the respective business by the system making the business success and benefitting Bank, Third party vendors, Business customer.
            </p>
        </div>
    </div>
    <!-- <hr />
    <div class="row mgt-2 shd services">
        <div class="col-12 header-container">
            <h3 class="header">OUR SERVICES</h3>
        </div>
        <div class="col-12" class="services-div">
            <img src="assets/services.png" width="100%">
        </div>
    </div> -->