.solution-div {
    margin-top: 4rem;
    position: relative;
    // background: #ffffff78;
    // background: #efadde6b;

    .header-div {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.application-image {
    position: absolute;
    top: 153px;
    left: 81px;
    img {
        width: 408px;
        height: 229px;
    }
}

.mgt-2 {
    margin-top: 2rem;
}

.how-it-works {
    padding: 15px;
    //background: #dceef885;
    // background: #ced4eca6;
    position: relative;
    .steps {
        font-weight: 600;
        font-size: 19px;
    }

    .application-video {
        position: absolute;
        left: 654px;
        top: 150px;
        z-index: 99;
    }

    .upper-overlay {
        position: absolute;
        left: 654px;
        top: 110px;
        background: #fff;
        width: 397px;
        height: 59px;
    }

    .bottom-overlay {
        position: absolute;
        left: 654px;
        top: 287px;
        background: #fff;
        width: 397px;
        height: 82px;
    }
}

.services {
    background: #fff;
    .header-container {
        margin-top: 1rem;
    }
}

ol {
    font-size: 19px;
    li {
        padding: 10px;
    }
}

.services-div {
    margin-top: 1rem;
}

.header {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-family: "Antonie";
}