<app-nav title="Home"></app-nav>
<div class="container">
    <div class="row mt-5 solution-div shd">
        <div class="col-12">
            <h4 class="header-default mb-5">Our Solution</h4>
        </div>
        <div class="col-6">
            <img src="assets/oursolution.png">
        </div>
        <div class="application-image">
            <img src="assets/application.jpg">
        </div>
        <div class="col-4 mr-4 mt-4">
            <p>
                LEAP is system in which once you are in, you're never alone. It works on the principle ❝Alone, we can do so little; together, we conquer!❞.
            </p>
            <p class="mt-6">
                In any business, securing great partnership deals can take the business to the next level. No business is too new or too small to start looking towards the future, considering potential partnerships. 
            </p>
            <p>
                By partnering with LEAP, a customer with any business idea, gets a partnership deal with the bank and the respective business related third party vendors. Also, the business is regularly monitored and supported with latest industry requirements respective to it by our system. LEAP makes the whole entrepreneurship a success, together with benefitting the Bank, the Customer and the Third party vendors.
            </p>
        </div>
    </div>
    <!-- <hr />
    <div class="row mgt-2 shd services">
        <div class="col-12 header-container">
            <h3 class="header">OUR SERVICES</h3>
        </div>
        <div class="col-12" class="services-div">
            <img src="assets/services.png" width="100%">
        </div>
    </div> -->