/* You can add global styles to this file, and also import other style files */
.well {
    border: 1px solid #dee2e6;
    border-radius: 4px;
    padding: 10px 15px;
    box-shadow: 0 0 6px #e2e2e2;
}